<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>126021049636-nl037q4etqv4rs8fndfu6o3gqd4ct9hd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.126021049636-nl037q4etqv4rs8fndfu6o3gqd4ct9hd</string>
	<key>API_KEY</key>
	<string>AIzaSyA6B3a470FVo81lEqtaSaAtq-DJorArFgA</string>
	<key>GCM_SENDER_ID</key>
	<string>126021049636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.linkeasy.app</string>
	<key>PROJECT_ID</key>
	<string>linkeasy-52706</string>
	<key>STORAGE_BUCKET</key>
	<string>linkeasy-52706.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126021049636:ios:79c02cdf058fafe4f667b1</string>
</dict>
</plist>